
<div>
<table style="width:100%">
	<tr><td colspan="2" style="font-size:large;font-weight:bold" dojoAttachPoint="titleCell"></td></tr>
	<tr>
		<td>Name:</td>
		<td><input type="text" style="width:500px" dojoAttachPoint="nameField"
			dojoAttachEvent="onchange:_nameChanged" /></td>
	</tr>
	<tr><td colspan="2"><table style="width:100%"> 
		<tr>
			<td colspan="2" style="font-weight:bold;font-size:x-large" align="center">Import</td>
			<td rowspan="7" style="height:100%;width:0px;border:1px solid black"></td>
			<td colspan="2" style="font-weight:bold;font-size:x-large" align="center">Export</td>
		</tr>
		<tr><td colspan="5" style="height:0px;width:100%;border:1px solid black"></td></tr>
		<tr><td colspan="2"><table style="width:100%">
			<tr>
				<td style="font-weight:bold;width:80px" nowrap="nowrap">By File:</td>
				<td><a href="" onclick="event.returnValue=false; return false;" style="color:blue"
					dojoAttachPoint="importFileSyncLink"
					dojoAttachEvent="onclick:_importFileSync">Import File...</a></td>
			</tr>
			<tr><td colspan="2" nowrap="nowrap"><div style="visibility:hidden"><input type="text" /></div></td></tr>
			<tr>
				<td style="font-weight:bold" nowrap="nowrap">By Network:</td>
				<td></td>
			</tr>
			<tr>
				<td>URL:</td>
				<td><table style="width:100%"><tr>
					<td><input type="text" style="width:99%" dojoAttachPoint="urlField"
						dojoAttachEvent="onchange:_urlChanged" /></td>
					<td style="width:18px" dojoAttachPoint="certViewIcon">
						<img src="__webContentRoot/rsrc/icons/prisms/certificate.png"
							dojoAttachEvent="onclick:_viewCertClicked" />
					</td>
				</tr></table></td>
			</tr>
			<tr>
				<td nowrap="nowrap">Connect As:</td>
				<td><input type="text" style="width:99%" dojoAttachPoint="serverUserField"
					dojoAttachEvent="onchange:_serverUserChanged" /></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><a href="" onclick="event.returnValue=false; return false;" style="color:blue"
						dojoAttachPoint="changePasswordLink"
						dojoAttachEvent="onclick:_changePassword">Change Password</a></td>
			</tr>
			<tr>
				<td>Frequency:</td>
				<td><div __dojoType="prisms.widget.TimeAmountEditor" monthsEnabled="false" secondsEnabled="false"
					dojoAttachPoint="syncFreqEditor"
					dojoAttachEvent="onChange:_syncFreqChanged"></div></td>
			</tr>
			<tr>
				<td>Synchronize:</td>
				<td>
					<a href="" onclick="event.returnValue=false; return false;" style="color:blue"
						dojoAttachPoint="testUrlLink"
						dojoAttachEvent="onclick:_testURL">Test Connection</a>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="" onclick="event.returnValue=false; return false;" style="color:blue"
						dojoAttachPoint="syncNowLink"
						dojoAttachEvent="onclick:_syncNow">Synchronize Now</a>
				</td>
			</tr>
			<tr>
				<td>Status:</td>
				<td dojoAttachPoint="centerStatusCell" style="font-weight:bold"></td>
			</tr>
		</table></td>
		<td colspan="2" valign="top"><table>
			<tr>
				<td style="font-weight:bold" nowrap="nowrap">By File:</td>
				<td colspan="2"><a href="" onclick="event.returnValue=false; return false;" style="color:blue"
					dojoAttachPoint="exportFileSyncLink"
					dojoAttachEvent="onclick:_exportFileSync">Export File...</a></td>
			</tr>
			<tr><td colspan="2"><div style="visibility:hidden"><input type="text" /></div></td></tr>
			<tr>
				<td style="font-weight:bold" nowrap="nowrap">By Network:</td>
				<td></td>
			</tr>
			<tr><td colspan="2"><div style="visibility:hidden"><input type="text" /></div></td></tr>
			<tr>
				<td nowrap="nowrap">Client should connect as:</td>
				<td><select dojoAttachPoint="clientUserSelect"
					dojoAttachEvent="onchange:_clientUserChanged"></select></td>
			</tr>
			<tr><td colspan="2"><div style="visibility:hidden"><input type="text" /></div></td></tr>
			<!--<tr>
				<td nowrap="nowrap">Modification Save Time:</td>
				<td><div __dojoType="prisms.widget.TimeAmountEditor" monthsEnabled="false"
					secondsEnabled="false" dojoAttachPoint="modSaveTimeEditor"
					dojoAttachEvent="onChange:_modSaveTimeChanged"></div></td>
			</tr>-->
		</table><td></tr>
		<tr><td colspan="5" style="height:0px;width:100%;border:1px solid black"></td></tr>
		<tr>
			<td style="font-weight:bold">History</td>
			<td align="right">(<a href="" onclick="event.returnValue=false; return false;" style="color:blue"
				dojoAttachPoint="showAllImportHistLink"
				dojoAttachEvent="onclick:_showAllImportHistory">Show All Imported History</a>)</td>
			<td style="font-weight:bold">History</td>
			<td align="right">(<a href="" onclick="event.returnValue=false; return false;" style="color:blue"
				dojoAttachPoint="showAllExportHistLink"
				dojoAttachEvent="onclick:_showAllExportHistory">Show All Exported History</a>)</td>
		</tr>
		<tr>
			<td colspan="2" style="vertical-align:top;width:50%">
				<div __dojoType="prisms.widget.SortTable" columnHeaderSize="medium" style="width:100%"
					displayAllDisplayedLink="false" displayNoneDisplayedLink="false"
					displayFirstLink="false" displayLastLink="false"
					dojoAttachPoint="importRecordsTable"
					dojoAttachEvent="sortOn:_sortByImp,goToLink:_goToImp,navTo:_navToImp,selectChanged:_selectChangedImp">
				</div>
			</td>
			<td colspan="2" style="vertical-align:top;width:50%">
				<div __dojoType="prisms.widget.SortTable" columnHeaderSize="medium" style="width:100%"
					displayAllDisplayedLink="false" displayNoneDisplayedLink="false"
					displayFirstLink="false" displayLastLink="false"
					dojoAttachPoint="exportRecordsTable"
					dojoAttachEvent="sortOn:_sortByExp,goToLink:_goToExp,navTo:_navToExp,selectChanged:_selectChangedExp">
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<div __dojoType="dijit.form.Button" dojoAttachPoint="importPurgeButton"
					dojoAttachEvent="onClick:_purgeImportSyncs">Purge Selected Records</div>
			</td>
			<td colspan="2" align="center">
				<div __dojoType="dijit.form.Button" dojoAttachPoint="exportPurgeButton"
					dojoAttachEvent="onClick:_purgeExportSyncs">Purge Selected Records</div>
			</td>
		</tr>
	</table></td></tr>
	<tr><td><div __dojoType="dijit.Dialog" dojoAttachPoint="passwordDialog" title="Enter Password">
		<table>
			<tr><td colspan="2"><input type="password" dojoAttachPoint="serverPassword"
				dojoAttachEvent="onkeypress:_onPasswordKeyPress" /></td></tr>
			<tr>
				<td align="center"><div __dojoType="dijit.form.Button"
					dojoAttachEvent="onClick:_passwordChanged">OK</div></td>
				<td align="center"><div __dojoType="dijit.form.Button"
					dojoAttachEvent="onClick:_passwordChangeCanceled">Cancel</div></td>
			</tr>
		</table>
	</div>
	<tr><td><div __dojoType="dijit.Dialog" dojoAttachPoint="syncInfoDialog"
		title="Synchronization...">
			<table style="text-align:center">
				<tr><td dojoAttachPoint="syncInfoMessage" style="font-weight:bold"></td></tr>
				<tr><td><textarea dojoAttachPoint="syncInfoData"
					style="width:575px;height:160px"></textarea></td></tr>
				<tr>
					<td><div __dojoType="dijit.form.Button"
						dojoAttachEvent="onClick:_closeSyncInfo">OK</div></td>
				</tr>
		</div></td></tr>
</table>
<div __dojoType="dijit.Dialog" dojoAttachPoint="certificateDialog" dojoAttachEvent:"hide:_certDeny">
	<div __dojoType="dijit.layout.BorderContainer" style="height:450px;text-align:center">
		<div __dojoType="dijit.layout.ContentPane" dojoAttachPoint="certDialogText1" region="top" style="height:36px"></div>
		<div __dojoType="dijit.layout.ContentPane" region="center" >
			<div __dojoType="prisms.widget.CertificateViewer" style="left:150px" dojoAttachPoint="soloViewer"></div>
			<div __dojoType="dijit.layout.BorderContainer" region="center" style="width:680px;height:300px"
				dojoAttachPoint="comparePane">
				<div __dojoType="prisms.widget.CertificateViewer" dojoAttachPoint="newCertViewer" region="left"></div>
				<div __dojoType="dijit.layout.ContentPane" style="vertical-align:middle"
					dojoAttachPoint="replaceLabel" region="center">to replace</div>
				<div __dojoType="prisms.widget.CertificateViewer", dojoAttachPoint="oldCertViewer" region="right"></div>
			</div>
		</div>
		<div __dojoType="dijit.layout.BorderContainer" region="bottom" style="height:95px">
			<div __dojoType="dijit.layout.ContentPane" dojoAttachPoint="certDialogText2" region="top" style="height:55px"></div>
			<div __dojoType="dijit.layout.BorderContainer" style="text-align: center" region="center">
				<div __dojoType="dijit.form.Button" region="left" dojoAttachPoint="acceptButton"
					dojoAttachEvent="onClick:_certAccept">Accept</div>
				<div __dojoType="dijit.form.Button" region="right" dojoAttachPoint="denyButton"
					dojoAttachEvent="onClick:_certDeny">Deny</div>
			</div>
		</div>
	</div>
</div>
</div>
