
<table>
	<tr>
		<td><div __dojoType="dijit.form.Button" dojoAttachEvent="onClick:_send">Send</div></td>
		<td><div __dojoType="dijit.form.Button" dojoAttachPoint="saveButton"
			dojoAttachEvent="onClick:_save">Save</div></td>
		<td><div __dojoType="dijit.form.Button" dojoAttachEvent="onClick:_discard">Discard</div></td>
	<tr>
		<td>From:</td>
		<td colspan="2" dojoAttachPoint="fromCell"></td>
	</tr>
	<tr>
		<td>To:</td>
		<td colspan="2"><textarea dojoAttachPoint="toText"></textarea></td>
	</tr>
	<tr dojoAttachPoint="ccRow">
		<td>Cc:</td>
		<td colspan="2"><textarea dojoAttachPoint="ccText"></textarea></td>
	</tr>
	<tr dojoAttachPoint="bccRow">
		<td>Bcc:</td>
		<td colspan="2"><textarea dojoAttachPoint="bccText"></textarea></td>
	</tr>
	<tr>
		<td>Subject:</td>
		<td colspan="2"><input type="text" dojoAttachPoint="subjectText" /></td>
	</tr>
	<tr>
		<td></td>
		<td colspan="2">
			<table><tr>
				<td><img src="__webContentRoot/icons/message/attachment.png" /></td>
				<td><a href="" onclick="event.returnValue=false; return false;" style="color:blue"
					dojoAttachEvent="onclick:_attach">Attach a File</a></td>
			</tr></table>
		</td>
	</tr>
	<tr><td colspan="3">
		<div __dojoType="dijit.Editor" style="width:100%"></div>
	</td></tr>
</table>
