
<div dojoType="dijit.layout.BorderContainer" style="width:100%;height:100%">
	<div dojoType="prisms.widget.ContentPane" style="height:50px" region="top">
		<div dojoType="manager.ApplicationEditor" pluginName="Application Editor"></div>
	</div>
	<div dojoType="prisms.widget.PrismsTabContainer" region="center">
		<div dojoType="dijit.layout.BorderContainer" title="Groups">
			<div dojoType="dijit.layout.BorderContainer" region="left" style="width:50%">
				<div dojoType="prisms.widget.ContentPane" region="left" style="width:50%">
					<div dojoType="prisms.widget.ListModel" pluginName="Application Groups"
					 jsId="manager.instances.appGroupsModel"></div>
					<div dojoType="prisms.widget.PrismsTree" model="manager.instances.appGroupsModel"></div>
				</div>
				<div dojoType="prisms.widget.ContentPane" region="center" style="width:50%">
					<div dojoType="prisms.widget.ListModel" pluginName="Application Permissions"
						jsId="manager.instances.appPermissionsModel"></div>
					<div dojoType="prisms.widget.PrismsTree" model="manager.instances.appPermissionsModel"></div>
				</div>
			</div>
			<div dojoType="dijit.layout.BorderContainer" region="center" style="width:50%">
				<div dojoType="manager.GroupEditor" pluginName="Group Editor" region="top"
					style="width:95%;height:50%"></div>
				<div dojoType="manager.PermissionEditor" pluginName="Permission Editor"
					region="center" style="width:95%;height:50%"></div>
			</div>
		</div>
		<div dojoType="prisms.widget.ContentPane" title="Clients">
			<div dojoType="prisms.widget.ListModel"  pluginName="Application Clients"
				jsId="manager.instances.appClientsModel"></div>
			<div dojoType="prisms.widget.PrismsTree" model="manager.instances.appClientsModel"></div>
		</div>
	</div>
</div>
</td></tr></table>
