<div>
	<div __dojoType="prisms.DojoPrisms" dojoAttachPoint="dojoPrisms"></div>
	<div __dojoType="prisms.widget.UI" pluginName="UI"></div>
	<div __dojoType="dijit.layout.BorderContainer" style="width:100%; height:100%;">
		<div __dojoType="dijit.Toolbar" region="top">
			<div __dojoType="dijit.form.DropDownButton">
				<span>Help</span>
				<div dojoType="dijit.Menu">
					<div dojoType="dijit.MenuItem" dojoAttachEvent="onClick:refresh">Refresh</div>
					<div dojoType="dijit.MenuItem" dojoAttachEvent="onClick:showVersion">
						About The PRISMS Manager</div>
				</div>
			</div>
			<div dojoType="dijit.form.DropDownButton" style="float:right" dojoAttachPoint="loginMenu">
				<span>Login</span>
				<div dojoType="dijit.Menu">
				</div>
			</div>
		</div>
		<div dojoType="dijit.layout.BorderContainer" layoutAlign="client">
			<div dojoType="dijit.layout.BorderContainer" region="left" style="width:25%">
				<div dojoType="prisms.widget.ContentPane" region="top" style="height:50%">
					<div dojoType="prisms.widget.ListModel" jsId="manager.instances.allAppsModel"
						pluginName="All Applications"></div>
					<div dojoType="prisms.widget.PrismsTree" model="manager.instances.allAppsModel"></div>
				</div>
				<div dojoType="prisms.widget.ContentPane" region="center" style="height:50%">
					<div dojoType="prisms.widget.ListModel" jsId="manager.instances.allUsersModel"
						pluginName="All Users"></div>
					<div dojoType="prisms.widget.PrismsTree" model="manager.instances.allUsersModel"></div>
				</div>
			</div>
			<div dojoType="prisms.widget.PrismsTabContainer" region="center" style="width:75%">
				<a dojoType="dijit.layout.LinkPane" href="manager/users.html">Users</a>
				<a dojoType="dijit.layout.LinkPane" href="manager/applications.html">Applications</a>
			</div>
		</div>
	</div>
</div>
