
<div style="text-align:left;bottom:0px;">
	<table style="left:2%;width:96%;top:2%;height:96%;background-color:white">
		<tr>
			<td>Red:</td>
			<td><div dojoType="dijit.form.HorizontalSlider" dojoAttachPoint="redSlider"
				minimum="0" maximum="255" intermediateChanges="true"
				dojoAttachEvent="onChange:_redSliderChanged" style="width:140px"></div></td>
			<td><input dojoType="dijit.form.NumberSpinner" dojoAttachPoint="redSpinner"
				constraints="{min:0, max:255, places:0}" style="width:60px"
				dojoAttachEvent="onChange:_redSpinnerChanged"></input></td>
		</tr>
		<tr>
			<td>Green:</td>
			<td><div dojoType="dijit.form.HorizontalSlider" dojoAttachPoint="greenSlider"
				minimum="0" maximum="255" intermediateChanges="true"
				dojoAttachEvent="onChange:_greenSliderChanged" style="width:140px"></div></td>
			<td><input dojoType="dijit.form.NumberSpinner" dojoAttachPoint="greenSpinner"
				constraints="{min:0, max:255, places:0}" style="width:60px"
				dojoAttachEvent="onChange:_greenSpinnerChanged"></input></td>
		</tr>
		<tr>
			<td>Blue:</td>
			<td><div dojoType="dijit.form.HorizontalSlider" dojoAttachPoint="blueSlider"
				minimum="0" maximum="255" intermediateChanges="true"
				dojoAttachEvent="onChange:_blueSliderChanged" style="width:140px"></div></td>
			<td><input dojoType="dijit.form.NumberSpinner" dojoAttachPoint="blueSpinner"
				constraints="{min:0, max:255, places:0}" style="width:60px"
				dojoAttachEvent="onChange:_blueSpinnerChanged"></input></td>
		</tr>
		<tr dojoAttachPoint="opacityRow">
			<td>Opacity:</td>
			<td><div dojoType="dijit.form.HorizontalSlider" dojoAttachPoint="opacitySlider"
				minimum="0" maximum="255" intermediateChanges="true"
				dojoAttachEvent="onChange:_opacitySliderChanged" style="width:140px"></div></td>
			<td><input dojoType="dijit.form.NumberSpinner" dojoAttachPoint="opacitySpinner"
				constraints="{min:0, max:255, places:0}" style="width:60px"
				dojoAttachEvent="onChange:_opacitySpinnerChanged"></input></td>
		</tr>
	</table>
</div>