
<table>
	<tr>
		<td>Choose Color:</td>
		<td rowspan="3">
			<div dojoAttachPoint="hexagonCell" style="position:relative">
				<img src="/prisms/rsrc/icons/prisms/AlphaHexagon.png" dojoAttachPoint="alphaHexagon"
					style="display:block;z-index:1"/>
				<img src="/prisms/rsrc/icons/prisms/ColorHexagon.png" dojoAttachPoint="colorHexagon"
					style="display:block;position:absolute;left:0px;top:0px;z-index:2"/>
				<img src="/prisms/rsrc/icons/prisms/ShadeHexagon.png" dojoAttachPoint="shade"
					dojoAttachEvent="onclick:_colorClicked"
					style="display:block;position:absolute;left:0px;top:0px;z-index:3"/>
				<div dojoAttachPoint="marker"
					style="position:absolute;z-index:4;width:2px;height:2px;border:1px solid"></div>
			</div>
		</td>
		<td>Red:</td>
		<td><input type="text" dojoAttachPoint="redBox" dojoAttachEvent="onchange:_redChanged"
			style="width:80px" /></td>
	</tr>
	<tr>
		<td dojoAttachPoint="beforeCell" style="font-weight:bold;border:1px solid black">Before</td>
		<td>Green:</td>
		<td><input type="text" dojoAttachPoint="greenBox" dojoAttachEvent="onchange:_greenChanged"
			style="width:80px" /></td>
	</tr>
	<tr>
		<td dojoAttachPoint="currentCell" style="font-weight:bold;border:1px solid black">Current</td>
		<td>Blue:</td>
		<td><input type="text" dojoAttachPoint="blueBox" dojoAttachEvent="onchange:_blueChanged"
			style="width:80px" /></td>
	</tr>
	<tr>
		<td>Brightness:</td>
		<td><div dojoType="dijit.form.HorizontalSlider" dojoAttachPoint="brightnessSlider"
			minimum="0" maximum="255" intermediateChanges="true"
			dojoAttachEvent="onChange:_brightnessChanged" style="min-width:140px"></div></td>
	</tr>
	<tr dojoAttachPoint="alphaRow">
		<td>Opacity:</td>
		<td><div dojoType="dijit.form.HorizontalSlider" dojoAttachPoint="alphaSlider"
			minimum="0" maximum="255" intermediateChanges="true"
			dojoAttachEvent="onChange:_alphaChangedS" style="min-width:140px"></div></td>
		<td><input type="text" dojoAttachPoint="alphaBox" dojoAttachEvent="onchange:_alphaChangedB"
			style="width:80px" /></td>
	</tr>
</table>
