
<table>
	<tr style="font-weight:bold">
		<td style="text-align:center">User can:</td>
		<td style="text-align:center">View</td>
		<td style="text-align:center">Edit</td>
	</tr>
	<tr>
		<td style="text-align:right">
			<select dojoAttachPoint="groupSelect" dojoAttachEvent="onchange:_groupChanged">
			</select>
		</td>
		<td style="text-align:center">
			<div dojoType="dijit.form.CheckBox" dojoAttachPoint="viewCheck"
				dojoAttachEvent="onClick:_viewChanged"></div>
		</td>
		<td style="text-align:center">
			<div dojoType="dijit.form.CheckBox" dojoAttachPoint="editCheck"
				dojoAttachEvent="onClick:_editChanged"></div>
		</td>
	</tr>
</table>
