
<table><tr>
	<td>
		<a href="" onclick="event.returnValue=false; return false;" dojoAttachPoint="yearsLink"
			dojoAttachEvent="onfocus:_yearsSelected"></a>
		<input dojoType="dijit.form.NumberSpinner" dojoAttachPoint="yearsBox"
			constraints="{min:0, max:10, places:0}" style="width:60px"
			dojoAttachEvent="onChange:_yearsChanged"></input>
	</td><td dojoAttachPoint="yearsLabelCell">
		year&nbsp;
	</td><td>
		<a href="" onclick="event.returnValue=false; return false;" dojoAttachPoint="monthsLink"
			dojoAttachEvent="onfocus:_monthsSelected"></a>
		<input dojoType="dijit.form.NumberSpinner" dojoAttachPoint="monthsBox"
			constraints="{min:0, max:11, places:0}" style="width:60px"
			dojoAttachEvent="onChange:_monthsChanged"></input>
	</td><td dojoAttachPoint="monthsLabelCell">
		month&nbsp;
	</td><td>
		<a href="" onclick="event.returnValue=false; return false;" dojoAttachPoint="daysLink"
			dojoAttachEvent="onfocus:_daysSelected"></a>
		<input dojoType="dijit.form.NumberSpinner" dojoAttachPoint="daysBox"
			constraints="{min:0, max:1000, places:0}" style="width:60px"
			dojoAttachEvent="onChange:_daysChanged"></input>
	</td><td dojoAttachPoint="daysLabelCell">
		day&nbsp;
	</td><td>
		<a href="" onclick="event.returnValue=false; return false;" dojoAttachPoint="hoursLink"
			dojoAttachEvent="onfocus:_hoursSelected"></a>
		<input dojoType="dijit.form.NumberSpinner" dojoAttachPoint="hoursBox"
			constraints="{min:0, max:23, places:0}" style="width:60px"
			dojoAttachEvent="onChange:_hoursChanged"></input>
	</td><td dojoAttachPoint="hoursLabelCell">
		hour&nbsp;
	</td><td>
		<a href="" onclick="event.returnValue=false; return false;" dojoAttachPoint="minutesLink"
			dojoAttachEvent="onfocus:_minutesSelected"></a>
		<input dojoType="dijit.form.NumberSpinner" dojoAttachPoint="minutesBox"
			constraints="{min:0, max:59, places:0}" style="width:60px"
			dojoAttachEvent="onChange:_minutesChanged"></input>
	</td><td dojoAttachPoint="minutesLabelCell">
		min&nbsp;
	</td><td>
		<a href="" onclick="event.returnValue=false; return false;" dojoAttachPoint="secondsLink"
			dojoAttachEvent="onfocus:_secondsSelected"></a>
		<input dojoType="dijit.form.NumberSpinner" dojoAttachPoint="secondsBox"
			constraints="{min:0, max:59, places:0}" style="width:60px"
			dojoAttachEvent="onChange:_secondsChanged"></input>
	</td><td dojoAttachPoint="secondsLabelCell">
		s&nbsp;
	</td>
</tr></table>
