
<div __dojoType="dijit.layout.BorderContainer" style="width:100%;height:100%">
	<div __dojoType="prisms.widget.ContentPane" style="height:50px" region="top">
		<div __dojoType="manager.ApplicationEditor" pluginName="Application Editor"></div>
	</div>
	<div __dojoType="prisms.widget.PrismsTabContainer" region="center">
		<div __dojoType="dijit.layout.BorderContainer" title="Groups">
			<div __dojoType="dijit.layout.BorderContainer" region="left" style="width:50%">
				<div __dojoType="prisms.widget.ContentPane" region="center" style="width:50%">
					<div __dojoType="prisms.widget.ListModel" pluginName="Application Groups"
					 jsId="manager.instances.appGroupsModel"></div>
					<div __dojoType="prisms.widget.SearchableList" showSearch="false"
						model="manager.instances.appGroupsModel"></div>
				</div>
				<div __dojoType="prisms.widget.ContentPane" region="right" style="width:50%">
					<div __dojoType="prisms.widget.ListModel" pluginName="Application Permissions"
						jsId="manager.instances.appPermissionsModel"></div>
					<div __dojoType="prisms.widget.SearchableList" showSearch="false"
						model="manager.instances.appPermissionsModel"></div>
				</div>
			</div>
			<div __dojoType="dijit.layout.BorderContainer" region="center" style="width:50%">
				<table style="width:100%"><tr><td style="width:100%">
					<div __dojoType="manager.GroupEditor" pluginName="Group Editor" region="top"
						style="width:95%;height:50%"></div>
					</td></tr><tr><td style="width:100%">
					<div __dojoType="manager.PermissionEditor" pluginName="Permission Editor"
						region="center" style="top:50%;width:95%;height:50%"></div>
				</td></tr></table>
			</div>
		</div>
		<div __dojoType="prisms.widget.ContentPane" style="width:100%;height:100%" title="Client">
			<div __dojoType="manager.ClientEditor" pluginName="Client Editor"></div>
		</div>
	</div>
</div>
