
<table>
	<tr>
		<td>Name:</td>
		<td><div dojoType="dijit.form.TextBox" style="width:100px" dojoAttachPoint="nameField"
			dojoAttachEvent="onChange:_nameChanged"></div></td>
		<td dojoAttachPoint="configClassLabel">Configuration Class:</td>
		<td><div dojoType="dijit.form.TextBox" style="width:200px" dojoAttachPoint="configClassField"
			dojoAttachEvent="onChange:_configClassChanged"></div></td>
		<td dojoAttachPoint="configXmlLabel">Configuration XML:</td>
		<td><div dojoType="dijit.form.TextBox" style="width:200px" dojoAttachPoint="configXmlField"
			dojoAttachEvent="onChange:_configXmlChanged"></div></td>
	</tr>
	<tr>
		<td>User-Restrictive:</td>
		<td><div dojoType="dijit.form.CheckBox" dojoAttachPoint="userRestrictCheck"
			dojoAttachEvent="onClick:_userRestrictChanged"></div></td>
	</tr>
	<tr>
		<td dojoAttachPoint="descripLabel">Description:</td>
		<td colspan="5">
			<div dojoType="dijit.form.TextBox" style="width:100%" dojoAttachPoint="descripField"
				dojoAttachEvent="onChange:_descripChanged"></div>
		</td>
	</tr>
</table>
