
<div style="border:2px solid black;background-color:#e0e0f0;overflow-y:auto;position:relative"
	dojoAttachEvent="scroll:_scrolled">
	<div style="position:absolute;height:1em;width:100%" dojoAttachPoint="menuBar">
		<img dojoAttachPoint="menuIcon" src="__webContentRoot/rsrc/icons/prisms/expandNode.png"
			dojoAttachEvent="onclick:_toggleShowMenu" style="position: absolute" />
		<div dojoAttachPoint="menu"
			style="position:absolute;display:none;background-color:white;z-index:100">
			<table dojoAttachPoint="menuTable" style="white-space:nowrap">
				<tr title="Determines whether text is wrapped to view or displayed in a single line">
					<td><div __dojoType="dijit.form.CheckBox" dojoAttachPoint="wrapCheck"
						dojoAttachEvent="onClick:_wrapChecked"></div></td>
					<td colspan="2">Wrap Text</td>
				</tr>
				<tr>
					<td><div __dojoType="dijit.form.CheckBox" dojoAttachPoint="expandCheck"
						dojoAttachEvent="onClick:_expandChecked"></div></td>
					<td colspan="2">Expand Messages</td>
				</tr>
				<tr>
					<td></td>
					<td><div __dojoType="dijit.form.CheckBox" dojoAttachPoint="dupExpandCheck"
						dojoAttachEvent="onClick:_dupExpandChecked"></div></td>
					<td dojoAttachPoint="dupExpandLabel">Even Duplicates</td>
				</tr>
				<tr>
					<td><div __dojoType="dijit.form.CheckBox" dojoAttachPoint="stackCheck"
						dojoAttachEvent="onClick:_stackChecked"></div></td>
					<td colspan="2">Show All Stacks</td>
				</tr>
				<tr>
					<td></td>
					<td><div __dojoType="dijit.form.CheckBox" dojoAttachPoint="dupStackCheck"
						dojoAttachEvent="onClick:_dupStackChecked"></div></td>
					<td dojoAttachPoint="dupStackLabel">Even Duplicates</td>
				</tr>
				<tr>
					<td><div __dojoType="dijit.form.CheckBox" dojoAttachPoint="idsCheck"
						dojoAttachEvent="onClick:_idsChecked"></div></td>
					<td colspan="2">Show Entry IDs</td>
				</tr>
				<tr>
					<td><div __dojoType="dijit.form.CheckBox" dojoAttachPoint="allMetaCheck"
						dojoAttachEvent="onClick:_allMetaChecked"></div></td>
					<td colspan="2">Show All Metadata</td>
				</tr>
				<tr>
					<td></td>
					<td colspan="2"><div __dojoType="dijit.form.Button" dojoAttachEvent="onClick:_saveClicked">
						Save Logs...
					</div></td>
				</tr>
				<tr dojoAttachPoint="purgeRow">
					<td></td>
					<td colspan="2"><div __dojoType="dijit.form.Button" dojoAttachEvent="onClick:_purgeClicked">
						Purge Selected
					</div></td>
				</tr>
				<tr dojoAttachPoint="protectRow">
					<td></td>
					<td colspan="2"><div __dojoType="dijit.form.Button" dojoAttachEvent="onClick:_protectClicked">
						Protect Selected
					</div></td>
				</tr>
			</table>
		</div>
		<span dojoAttachPoint="pageFirst" dojoAttachEvent="onclick:_scrollFirst"
			style="font-weight:bold;background-color:#ffc800;white-space:nowrap;cursor:pointer;position:absolute;display:none">&lt;&lt;First</span>
		<span dojoAttachPoint="pageBack" dojoAttachEvent="onclick:_scrollBack"
			style="font-weight:bold;background-color:#ffc800;white-space:nowrap;cursor:pointer;position:absolute;display:none">&lt;Previous</span>
		<span dojoAttachPoint="statusDisplay"
			style="font-weight:bold;background-color:#ffc800;white-space:nowrap;cursor:pointer;position:absolute;display:none"></span>
		<span dojoAttachPoint="pageForward" dojoAttachEvent="onclick:_scrollForward"
			style="font-weight:bold;background-color:#ffc800;white-space:nowrap;cursor:pointer;position:absolute;display:none">Next&gt;</span>
		<span dojoAttachPoint="pageLast" dojoAttachEvent="onclick:_scrollLast"
			style="font-weight:bold;background-color:#ffc800;white-space:nowrap;cursor:pointer;position:absolute;display:none">Last&gt;&gt;</span>
	</div>
	<br />
</div>
