
<table>
	<tr>
		<td style="font-weight:bold">Name:</td>
		<td dojoAttachPoint="nameField"></td>
	</tr><tr>
		<td style="font-weight:bold">Service:</td>
		<td dojoAttachPoint="serviceCell"></td>
	</tr><tr>
		<td style="font-weight:bold">Session Timeout:</td>
		<td dojoAttachPoint="timeoutCell"></td>
	</tr><tr>
		<td style="font-weight:bold">Allows Anonymous:</td>
		<td dojoAttachPoint="allowAnonymousCell"></td>
	</tr><tr>
		<td style="font-weight:bold" dojoAttachPoint="descripLabel">Description:</td>
		<td dojoAttachPoint="descripField"></td>
	</tr>
</table>
