
<table>
	<tr>
		<td style="font-weight:bold">Name:</td>
		<td dojoAttachPoint="nameField"></td>
	</tr><tr>
		<td style="font-weight:bold">Service:</td>
		<td><div __dojoType="dijit.form.CheckBox" dojoAttachPoint="serviceCheck" readonly="readonly"></div></td>
	</tr><tr>
		<td style="font-weight:bold">Session Timeout:</td>
		<td><div __dojoType="prisms.widget.TimeAmountEditor" monthsEnabled="false" secondsEnabled="false"
			dojoAttachPoint="timeoutEditor" disabled="true"></div></td>
	</tr><tr>
		<td style="font-weight:bold">Allows Anonymous:</td>
		<td><div __dojoType="dijit.form.CheckBox" dojoAttachPoint="allowAnonymousCheck"
			readonly="readonly"></div></td>
	</tr><tr>
		<td style="font-weight:bold" dojoAttachPoint="descripLabel">Description:</td>
		<td dojoAttachPoint="descripField"></td>
	</tr>
</table>
