
<table>
	<tr><td colspan="2" style="font-weight:bold;font-size:large">Group</td></tr>
	<tr>
		<td style="width:40px">Name:</td>
		<td><div __dojoType="dijit.form.TextBox" style="width:300px" dojoAttachPoint="nameField"
			dojoAttachEvent="onChange:_nameChanged"></div></td>
	</tr>
	<tr>
		<td colspan="2" style="width:100%">
			<textarea style="width:100%" spellcheck="false" rows="4" dojoAttachPoint="descripField"
				dojoAttachEvent="onchange:_descripChanged"></div>
		</td>
	</tr>
</table>
