
<div style="width:100%;height:100%">
	<div __dojoType="prisms.widget.ContentPane" style="width:100%;height:100%">
		<div __dojoType="prisms.widget.TreeModel" jsId="manager.instances.performanceDisplayModel"
			pluginName="Performance Data"></div>
		<div __dojoType="prisms.widget.PrismsTree" model="manager.instances.performanceDisplayModel"></div>
	</div>

	<div __dojoType="prisms.widget.CloseX" useSmall="true" dojoAttachEvent="onClick:_closeDisplay"
		style="position:absolute;top:0px;right:0px"></div>
</div>
