<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
	<title>PRISMS Manager</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" >

	<script type="text/javascript">
		djConfig={
			parseOnLoad: true,
			isDebug: true,
			usePlainJson: true
		};
		if("__dojo"!="dojo")
			djConfig.scopeMap=[
				["dojo", "__dojo"],
				["dijit", "__dijit"],
				["dojox", "__dojox"]
			];
	</script>

	<script type="text/javascript" src="../dojo/dojo/dojo.js.uncompressed.js"></script>
	<script type="text/javascript">
		<!-- Base layout libs -->
		__dojo.require("dojo.parser");	// scan page for widgets and instantiate them

		__dojo.registerModulePath("prisms","../../js/prisms");
		__dojo.registerModulePath("manager","../../js/manager");
		__dojo.require("prisms.PrismsLink");
		__dojo.require("manager.ManagerApp");
	</script>
	
	<style type="text/css">
		@import "../dojo/dojo/resources/dojo.css";
		@import "../dojo/dijit/themes/tundra/tundra.css";
		@import "../dojo/dijit/themes/tundra/tundra_rtl.css";
		@import "../dojo/dijit/css/dijitTests.css";

		@import "../style/treeIcons.css";

		html, body{	
			width: 100%;	/* make the body expand to fill the visible window */
			height: 100%;
			padding: 0 0 0 0;
			margin: 0 0 0 0;
		}
		.dijitSplitPane{
			margin: 5px;
		}
		#rightPane {
			margin: 0;
		}
	</style>
</head>
<body class="tundra">
	<div __dojoType="prisms.PrismsLink" application="MANAGER" client="fullclient" jsId="managerPrismsLink"
		servletURL="__webContentRoot/prisms" imageURL="__webContentRoot/prismsImage.png"></div>
	<div __dojoType="manager.ManagerApp" prisms="managerPrismsLink" style="width:100%;height:100%"></div>
</body>
</html>
